.graph .flex-content {
    padding: 0;
}

g.origin rect {
    stroke: #000;
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1px;
}

.selected rect {
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

.node-container {
    height: 2rem;
    width: 6rem;
    margin: 0.3rem 0.5rem;
}

.node-lang-name {
    font-family: 'freight-sans-pro', sans-serif;
    font-size: 0.75rem;
    float: left;
}

.node-flags {
    font-size: 0.5rem;
    float: right;
}

.node-label {
    padding-top: 1rem;
    line-height: 1em;
    margin: 0;
    display: block;
    font-family: 'minion-pro', serif;
    font-size: 1rem;
}

.add-edge path {
    stroke: #999;
    fill: #999;
}

.node.add rect {
    stroke: #999;
}

.node.add:hover rect {
    fill: #eee;
}

.add-node {
    padding: 0.6rem;
    height: 2.5rem;
    /*width: 6rem;*/
    font-family: 'freight-sans-pro', sans-serif;
    font-size: 1rem;
}

.infobar {
    position: fixed;
    right: 0;
    top: 4rem;
    background-color: rgba(245, 236, 228, 0.75);
    height: 100%;
    width: 16rem;
    padding: 1rem;
    font-size: 0.8rem;
}
