
/*
General styling
 */

html {
    box-sizing: border-box;
}

.logo-text {
    font-weight: 600; /* 600 has a good commanding presence without being too obnoxious like 800 or too thing like 400*/
    /* at least for the upperleft position  ~Ryan Spencer*/
    font-size: 2.125em;
    padding-left: 10px;
    margin-top: -5px;
    text-decoration: none;
}

h1, h2, h3, h4, h5, p, a, label {
    color: #2a2b2b;
    font-family: "minion-pro", serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    text-decoration: none;
}
p, a {
    font-family: 'freight-sans-pro', sans-serif;
}

h1 {
    font-size: 4.125em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.50em;
}

p {
    font-size: 1.15em;
}

*, *:before, *:after {
    box-sizing: inherit;
    -moz-font-feature-settings:"kern" 1; 
    -ms-font-feature-settings:"kern" 1; 
    -o-font-feature-settings:"kern" 1; 
    -webkit-font-feature-settings:"kern" 1; 
    font-feature-settings:"kern" 1;
}

body {
    margin: 0;
    background-color: #e3d0b6;
    background-color: #EDECF0;
    background-color: #F5ECE4; /* yellow near white */
}

body.index {
    overflow: hidden;
}

a.login-text {
    text-decoration: none;
    font-family: 'freight-sans-pro', sans-serif;
    font-size: 0.75em;
}

a {
    text-decoration: underline;
    -webkit-text-decoration-color: #2a2b2b;
    -moz-text-decoration-color: #2a2b2b;
    text-decoration-color: #2a2b2b;
    -webkit-text-decoration-color: #a70200;
    -moz-text-decoration-color: #a70200;
    text-decoration-color: #a70200;
}

a:hover {
    color: #666;
}

::selection {
    background: #c0bdb6;
}
::-moz-selection {
    background: #c0bdb6;
}

/*
Graph detail
 */

svg {
    display:block;
}

/*
Common (non-landing) template flexbox stuff
 */

/* Top level container*/
.flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row wrap;
    /*padding: 10px;*/
}

/* flex children */
.flex-login .flex-form .flex-pad {
    flex: 1 50%;
}
.flex-inner-content {
    width: 30%;
    margin: 0 auto;
}
.flex-login {
    /* order: 1 */
}

.flex-content {
    flex: 1 100%;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 4rem 1rem 1rem 1rem;
    /*overflow: auto;*/
}

/* landing page detail */
#landing {
    padding-bottom: 200px; /* Arbitrary qty */
}

/* Dead centered flex object */
.flex-center {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.nav {
    width: 100%;
    position: fixed;
    padding: 0.5rem;
    z-index: 10;
    background-color: rgba(227, 208, 182, 0.75);
    background-color: rgba(237, 236, 240, 0.75);
    background-color: rgba(245, 236, 228, 0.75);
}

.nav-title {
    display: block;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 1rem;
    float: left;
}

.nav-logo {
    height:2rem;
    float: left;
}

.nav-title h1 {
    font-size:1.5rem;
    margin: 0.25rem 0;
    line-height: 1;
    float:left;
}

.nav-search-form {
    float:left;
}

.user-area {
    float: right;
}

.user-area a {
    float: left;
    padding-left: 0.5rem;
    margin: auto;
}

.user-area a img {
    width: 1.5rem;
    height: 1.5rem;
}

.user-area a span {
    float: right;
    padding-left: 0.25rem;
}

.user {
    margin: 0.5rem;
}

.login {
    color: white;
    background-color: #3b5998;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    margin: 0.125rem 0.5rem;
}

.login:hover {
    background-color: rgba(59, 89, 152, 0.75);
}

input.nav-search {
    width: 24rem;
    height: 2rem;
    font-size: 1rem;
}

input.index-search {
    width: 32rem;
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
}

input, textarea, button {
    border: solid 1px #ddd;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-family: 'freight-sans-pro', sans-serif;
}

input:focus, textarea:focus {
    border: solid 1px #999;
}

input:focus, textarea:focus {
    outline: none;
}

button {
    background: white;
    font-size: 0.85rem;
}

button:focus {
    outline: none;
}

button:active {
    background-color: #eee;
    border: solid 1px #999;
}

.tt-menu {
    width: 100%;
    border-radius: 0 0 0.25rem 0.25rem;
    background-color: white;
}

.tt-suggestion {
    padding: 0.125rem 0.5rem;
    font-family: 'freight-sans-pro', sans-serif;
    cursor: pointer;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
}

.tt-suggestion:hover {
    background-color: #eee;
}

/* Results list numbering */
ul {
    list-style-type: none;
    margin: 0;
    margin-left: 1rem;
    padding: 0;
}
.results li {
    position: relative;
    left: 0;
    margin-bottom: 20px;
    padding-left: 0.5em;
    max-height: 2em;
}

.result {
    font-size: 1.25rem;
}

.result-lang {
    display: block;
    font-size: 0.75rem;
    font-family: 'minion-pro';
}



.flagged-words {
    float: left;
}

.flagged-rels {
    float: right;
}


.add-word-body {
    width: 12rem;
    margin: 0 auto;
}



.add-word {
    height: 2rem;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}

input.add-word#orig_form {
    width: 12rem;
}

input.add-word#lang_name {
    width: 12rem;
    margin: 0;
}

.lang-container {
    position: relative;
    margin-bottom: 0.25rem;
}

input.add-word#language {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3.5rem;
    /*padding: 0;*/
    overflow: visible;
    background: none;
    border-radius: 0;
    border: none;
    border-left: solid 1px #eee;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

input.add-word#ipa_form, input.add-word#eng_form {
    width: 5.825rem;
}

textarea.add-word#definition {
    width: 12rem;
    height: 4rem;
}
.about {
    margin-top: 7px;
    float: left;
}
#definition {
    resize: none;
}
