{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="flex-inner-content">
    <h2 align="center">Add a word</h2>
    <form action="{{ url_for('add_word') }}" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form %}
        {% if field.id != "csrf_token" %}
            <div class="addword-form-title">{{ field.label(class_="addword-form-title") }}</div>
            <div class="addword-form">{{ field(class_="reg-form") }}</div>
        {% endif %}
        {% endfor %}
        <button type="submit" class="addword-submit">Submit</form>
    </form>
</div>
{% endblock %}
