<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="300">
        <title>Etymograph | A page!</title>
        <script src="https://use.typekit.net/tct7oag.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
        <script type=text/javascript src="{{url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/typeahead.bundle.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/etymograph.main.js') }}"></script>
        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
        {% block head %}{% endblock %}
    </head>
    <body class="{{ body_class }}">
        <div class="flex-parent">
            <div class="nav">
                <a class="nav-title" href="{{ url_for('index') }}"><img class="nav-logo" src="{{ url_for('static', filename='img/logo.png') }}"><h1 >Etymograph</h1></a>
                {% if not no_form %}
                <div class="nav-search-form">
                    <form action="{{ url_for('search') }}" method="GET">
                        <!-- {{ search_form.hidden_tag() }} -->
                        {{ search_form.q(class_="typeahead upleft-search") }}
                    </form>
                </div>
                {% endif %}
                <div class="user-area">
                    {{ user_area()|safe }}
                </div>
            </div>
            <div class="flex-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
{% if not no_form %}
<style>
.tt-menu {
    color: #c0bdb6;
    font-family: 'Fira Sans 2', helvetica, sans-serif;
    width: 400px;
    margin: 2px 0;
    background: #2a2b2b;
    font-size: 1em;
    outline: none;
    -webkit-box-shadow: 0px 13px 78px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 13px 78px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 13px 78px 0px rgba(0,0,0,0.20);
    text-align: left;
}
.tt-suggestion {
    padding-left: 3px;
    margin: 0;
    line-height: 24px;
}
</style>
{% endif %}
</html>
