<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="300">
    <title>Etymograph | Welcome!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <script type=text/javascript src="{{url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/typeahead.bundle.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/etymograph.main.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-book.ico') }}">
  </head>
  {% block content %}{% endblock %}
</html>
