{% extends 'base.html' %}
{% block content %}

<div class="flagged-column">
<h2>Flagged Relationships</h2>
<ul>
{% for rel in rels %}
	<li><svg id="graph-{{ rel['root']['id'] }}-{{ rel['desc']['id'] }}" width="350" height="75"></svg></li>
{% endfor %}
</div>
<div class="flagged-column">
<h2>Flagged Words</h2>

<ul>
{% for word in words %}
    <li><div class="node-html"><a href="{{ url_for('web.show_graph', word_id=word['id']) }}">
    	<div class="node-container"><span class="node-lang-name">{{ word['lang_name'] }}</span><span class="node-label">{{ word['orig_form'] }}</span><div style="clear: none;"></div></div>
	</a></div></li>
{% endfor %}
</ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/dagre-d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/graphLabel.js') }}"></script>
<script>
var rels = {{ rels|safe }};
</script>
<script src="{{ url_for('static', filename='js/flagged.js') }}"></script>

{% endblock %}