{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/graph.css') }}">
{% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/dagre-d3.min.js') }}"></script>

<div class="flagged-words">
<h2>Flagged Words</h2>

<ul>
{% for word in words %}
    <li><svg id="graph-{{ word['id'] }}" width="200" height="64"></svg></li>
{% endfor %}
</ul>
</div>
<div class="flagged-rels">
<h2>Flagged Relationships</h2>
<ul>
{% for rel in rels %}
	<li><svg id="graph-{{ rel['root']['id'] }}-{{ rel['desc']['id'] }}" width="300" height="64"></svg></li>
{% endfor %}
</div>

<script>
var words = {{ words|safe }};
var rels = {{ rels|safe }};


function makeLabel(word) {
    return '<div class="lang-name">' + word.lang_name + '</div><div><a href="/'+word.id+'">' + word.orig_form + '</a></div>';
}

for (var i=0; i < words.length; i++) {
	var word = words[i];

	var g = new dagreD3.graphlib.Graph()
	    .setGraph({
	        nodesep: 70,
	        ranksep: 50,
	        rankdir: "LR",
	        marginx: 2,
	        marginy: 2
	    })
	    .setDefaultEdgeLabel(function() { return {}; });

    g.setNode(word.id, {
        id: word.id,
        labelType:'html',
        label: makeLabel(word),
        class: 'word' 
    });

	var render = new dagreD3.render();

    var svg = d3.select('#graph-' + word.id),
        svgGroup = svg.append("g");

    render(d3.select('#graph-' + word.id + " g"), g);
}


for (var i=0; i < rels.length; i++) {
	var root = rels[i].root;
	var desc = rels[i].desc;

	var g = new dagreD3.graphlib.Graph()
	    .setGraph({
	        nodesep: 70,
	        ranksep: 50,
	        rankdir: "LR",
	        marginx: 2,
	        marginy: 2
	    })
	    .setDefaultEdgeLabel(function() { return {}; });

    g.setNode(root.id, {
        id: root.id,
        labelType:'html',
        label: makeLabel(root),
        class: 'word' 
    });

    g.setNode(desc.id, {
        id: desc.id,
        labelType:'html',
        label: makeLabel(desc),
        class: 'word' 
    });

    g.setEdge(root.id, desc.id, {
        labelType:'html',
        label: rels[i].flag_count + ' flag' + (rels[i].flag_count === 1 ? '' : 's')
    });

	var render = new dagreD3.render();

    var svg = d3.select('#graph-' + root.id + '-' + desc.id),
        svgGroup = svg.append("g");

    render(d3.select('#graph-' + root.id + '-' + desc.id + " g"), g);
}

</script>

{% endblock %}