{% extends 'base.html' %}
{% block content %}
<body>
    <svg width="1000" height="500"></svg>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="http://cpettitt.github.io/project/dagre-d3/latest/dagre-d3.min.js"></script>
    <script>
        function makeLabel(lang, orig_form, id) {
            return '<a href="/'+id+'/info">' + lang + ": " + orig_form + '</a>';
        }

        // Get data from the templates
        var roots = {{ roots|safe }};
        var descs = {{ descs|safe }};
        // This is ugly but it's just temporary while we sort out MVC
        var info = roots;


        // convert roots and descs into a single dagre graph
        var g = new dagreD3.graphlib.Graph()
            .setGraph({
                nodesep: 70,
                ranksep: 50,
                rankdir: "LR",
                marginx: 20,
                marginy: 20
            })
            .setDefaultEdgeLabel(function() { return {}; });;

        g.setNode(info.id, {labelType:'html', label: makeLabel(info.language, info.orig_form, info.id),  class: 'origin'});

        function addRoot(g, root, parent) {
            var rootLabel = makeLabel(root.language, root.orig_form, root.id);
            g.setNode(root.id, {labelType:'html', label: rootLabel });
            g.setEdge(root.id, parent, { lineInterpolate: "bundle" });
            if (root.roots !== undefined) {
                root.roots.forEach(function(r) { addRoot(g, r, root.id) });
            }

        }

        function addDesc(g, desc, parent) {
            var descLabel = makeLabel(desc.language, desc.orig_form, desc.id);
            g.setNode(desc.id, {labelType:'html', label: descLabel });
            g.setEdge(parent, desc.id);
            if (desc.descs !== undefined) {
                desc.descs.forEach(function(d) { addDesc(g, d, desc.id) });
            }
        }

        roots.roots.forEach(function(r) { addRoot(g, r, info.id) });
        descs.descs.forEach(function(d) { addDesc(g, d, info.id) });

        // Draw the graph
        // Create the renderer
        var render = new dagreD3.render();

        // Set up an SVG group so that we can translate the final graph.
        var svg = d3.select("svg"),
            svgGroup = svg.append("g");

        // Run the renderer. This is what draws the final graph.
        render(d3.select("svg g"), g);
        
    </script>
    <style>
        g.origin text {
            font-weight: 800;
        }
        text {
            font-weight: 300;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
            font-size: 14px;
        }

        .node rect {
            stroke: #999;
            fill: #fff;
            stroke-width: 1.5px;
        }

        .edgePath path {
            stroke: #333;
            stroke-width: 1.5px;
        }
    </style>
</body>
{% endblock %}
