<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="300"> -->
    <title>Etymograph | Welcome!</title>
    <script src="https://use.typekit.net/tct7oag.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <script type=text/javascript src="{{url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/typeahead.bundle.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/etymograph.main.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-book.ico') }}">
  </head>
  <body class="{{ body_class }}">
      <div class="flex-parent">
		  <div class="nav">
			  <h1 class="nav-title"><a href="/">Etymograph</a></h1>
			  <div class="user-area">

				  <a href=/><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xla1/v/t1.0-1/p50x50/10455440_570294629180_2034062049169725382_n.jpg?oh=ea9cbbcbb0b0b35d40070b374327d3a2&amp;oe=568E6C33&amp;__gda__=1452086838_f31c0d619ac7c79d8a8846db447ad210" height="25px" width="25px"><span>Ryan James Spencer</span></a>
				  <a href="/logout?next=%2Fsearch">log out</a>
				  <a href="/profile/delete?next=%2Fsearch">delete profile</a>
				  <script>var loggedIn = true;</script>
			  </div>
		  </div>
          <div class="flex-center" id="landing">
              <!-- <h1 id="title">{{ landing_title }}</h1> -->
              <form action="{{ url_for('search') }}" method="GET">
                  <!-- {{ form.hidden_tag() }} -->
                  {{ form.q(class_="typeahead") }}
              </form>
          </div>
      </div>
  </body>
</html>
