{% extends 'base.html' %}
{% block content %}
	{% set title = word_properties.orig_form or word_properties.eng_form %}
	<h2>
		{{ title }}
		{% if word_properties.eng_form and word_properties.eng_form != title %}
			{{ word_properties.eng_form }}
		{% endif %}
	</h2>
	{% if word_properties.ipa_form %} 
		<p>{{ word_properties.ipa_form }}</p> 
	{% endif %}
	{% if word_properties.lang_name %}
		<p>{{ word_properties.lang_name }}</p>
	{% else %}
	{% if word_properties.language %} 
		<p>{{ word_properties.language }}</p>
	{% endif %}
	{% endif %}
	{% if word_properties.definition %} 
		<p>{{ word_properties.definition }}</p>
	{% endif %}
    {% if word_properties %}
    <a href="{{url_for('flag')}}">Flag this as incorrect information?</a>
    {% endif %}
{% endblock %}
