{% extends 'base.html' %}
{% block content %}
<!-- View profile -->

<h2>{{ user_name }}</h2>
{% if is_me %}
<a href="{{ url_for('user.delete_profile', next=url_for('web.index')) }}">Delete profile</a>
{% endif %}
    
<div class="words">
{% if added_words %}
    <h3>Added words:</h3>
    <ul>
    {% for word in added_words %}
        <li><svg id="graph-{{ word['id'] }}" width="200" height="75"></svg></li>
    {% endfor %}
    </ul>
{% else %}
    <h3>No words added</h3>
{% endif %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/dagre-d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/graphLabel.js') }}"></script>
<script>
var addedWords = {{ added_words|safe }};
</script>
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}